<!DOCTYPE html>
<html>
<head>
	<title>:: ERROR 500 ::</title>
</head>
<body>
	<style type="text/css">
		*{font-family: arial}
		html,body{background:#9AB8D7;color: #3F3F3F}
		fieldset{background:#DCDCDC;border: 2px solid #3F3F3F;width: 90%;margin: 0 auto;box-shadow: 10px 10px 0px #3F3F3F;}
	</style>
	<h4>Maframe - Simple mvc framework for php.</h4>
	<hr>
	<br><br><br><br><br>
<fieldset><legend><h1>ERROR 500</h1></legend>
	<p><b>ERROR MESSAGE ::</b><br></p>
		<div style="margin-left: 20px;padding: 10px;color:#3F3F3F"><i>Server internal error.</i></div>
</fieldset>
</body>
</html>